main#about {
    height: 100vh;

    .container {
        display: flex;
        gap: 1em;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;

        @media(max-width: 500px){
            font-size: 0.8rem;
        }

        #pageTitle {
            color: var(--text-color);
            width: 100%;
            text-align: center;
        }

        .detail {
            max-width: 600px;
        }

        .detail_header {
            color: var(--text-color);
            display: block;
            text-align: center;
        }

        p {
            text-align: center;
            color: gray;
        }
    }
}